In [1]:
#imports
import requests
import json
import time
import pandas as pd
import datetime

#set ups
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [2]:
#find the different APIs
response = requests.get('https://opendata-api-eydap.growthfund.gr/api/Savings/Day/31-12-1998') 
response

In [9]:
webpages = []

# Create all the urls you need to collet the historic data
for n in range(1985, 2026):
    
    webpage = 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-' + str(n)
    webpages.append(webpage)

webpages

['https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1985',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1986',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1987',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1988',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1989',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1990',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1991',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1992',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1993',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1994',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1995',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1996',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1997',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1998',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1999',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2000',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2001',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2002',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2003',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2004',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2005',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2006',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2007',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2008',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2009',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2010',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2011',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2012',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2013',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2014',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2015',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2016',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2017',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2018',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2019',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2020',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2021',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2022',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2023',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2024',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2025']

In [10]:
td = datetime.datetime.strptime("01-07-2025", "%d-%m-%Y")

k = 31

d = pd.date_range(td, periods=k)

print(d.strftime("%d-%m-%Y"))

Index(['01-07-2025', '02-07-2025', '03-07-2025', '04-07-2025', '05-07-2025',
       '06-07-2025', '07-07-2025', '08-07-2025', '09-07-2025', '10-07-2025',
       '11-07-2025', '12-07-2025', '13-07-2025', '14-07-2025', '15-07-2025',
       '16-07-2025', '17-07-2025', '18-07-2025', '19-07-2025', '20-07-2025',
       '21-07-2025', '22-07-2025', '23-07-2025', '24-07-2025', '25-07-2025',
       '26-07-2025', '27-07-2025', '28-07-2025', '29-07-2025', '30-07-2025',
       '31-07-2025'],
      dtype='object')

In [11]:
# Loop through your date range and format the URLs correctly
for date in d:
    webpage = f"https://opendata-api-eydap.growthfund.gr/api/Savings/Day/{date.strftime('%d-%m-%Y')}"
    webpages.append(webpage)

webpages

['https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1985',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1986',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1987',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1988',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1989',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1990',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1991',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1992',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1993',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1994',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1995',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1996',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1997',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1998',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1999',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2000',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2001',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2002',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2003',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2004',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2005',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2006',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2007',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2008',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2009',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2010',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2011',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2012',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2013',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2014',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2015',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2016',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2017',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2018',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2019',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2020',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2021',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2022',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2023',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2024',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/01-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/02-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/03-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/04-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/05-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/06-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/07-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/08-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/09-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/10-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/11-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/12-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/13-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/14-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/15-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/16-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/17-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/18-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/19-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/20-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/21-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/22-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/23-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/24-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/25-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/26-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/27-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/28-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/29-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/30-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/31-07-2025']

In [12]:
df1 = pd.DataFrame(webpages)
df1 = df1.rename(columns = {df1.columns[0]:'apis'})
df1

                                                 apis
0   https://opendata-api-eydap.growthfund.gr/api/S...
1   https://opendata-api-eydap.growthfund.gr/api/S...
2   https://opendata-api-eydap.growthfund.gr/api/S...
3   https://opendata-api-eydap.growthfund.gr/api/S...
4   https://opendata-api-eydap.growthfund.gr/api/S...
5   https://opendata-api-eydap.growthfund.gr/api/S...
6   https://opendata-api-eydap.growthfund.gr/api/S...
7   https://opendata-api-eydap.growthfund.gr/api/S...
8   https://opendata-api-eydap.growthfund.gr/api/S...
9   https://opendata-api-eydap.growthfund.gr/api/S...
10  https://opendata-api-eydap.growthfund.gr/api/S...
11  https://opendata-api-eydap.growthfund.gr/api/S...
12  https://opendata-api-eydap.growthfund.gr/api/S...
13  https://opendata-api-eydap.growthfund.gr/api/S...
14  https://opendata-api-eydap.growthfund.gr/api/S...
15  https://opendata-api-eydap.growthfund.gr/api/S...
16  https://opendata-api-eydap.growthfund.gr/api/S...
17  https://opendata-api-eydap.growthfund.gr/api/S...
18  https://opendata-api-eydap.growthfund.gr/api/S...
19  https://opendata-api-eydap.growthfund.gr/api/S...
20  https://opendata-api-eydap.growthfund.gr/api/S...
21  https://opendata-api-eydap.growthfund.gr/api/S...
22  https://opendata-api-eydap.growthfund.gr/api/S...
23  https://opendata-api-eydap.growthfund.gr/api/S...
24  https://opendata-api-eydap.growthfund.gr/api/S...
25  https://opendata-api-eydap.growthfund.gr/api/S...
26  https://opendata-api-eydap.growthfund.gr/api/S...
27  https://opendata-api-eydap.growthfund.gr/api/S...
28  https://opendata-api-eydap.growthfund.gr/api/S...
29  https://opendata-api-eydap.growthfund.gr/api/S...
30  https://opendata-api-eydap.growthfund.gr/api/S...
31  https://opendata-api-eydap.growthfund.gr/api/S...
32  https://opendata-api-eydap.growthfund.gr/api/S...
33  https://opendata-api-eydap.growthfund.gr/api/S...
34  https://opendata-api-eydap.growthfund.gr/api/S...
35  https://opendata-api-eydap.growthfund.gr/api/S...
36  https://opendata-api-eydap.growthfund.gr/api/S...
37  https://opendata-api-eydap.growthfund.gr/api/S...
38  https://opendata-api-eydap.growthfund.gr/api/S...
39  https://opendata-api-eydap.growthfund.gr/api/S...
40  https://opendata-api-eydap.growthfund.gr/api/S...
41  https://opendata-api-eydap.growthfund.gr/api/S...
42  https://opendata-api-eydap.growthfund.gr/api/S...
43  https://opendata-api-eydap.growthfund.gr/api/S...
44  https://opendata-api-eydap.growthfund.gr/api/S...
45  https://opendata-api-eydap.growthfund.gr/api/S...
46  https://opendata-api-eydap.growthfund.gr/api/S...
47  https://opendata-api-eydap.growthfund.gr/api/S...
48  https://opendata-api-eydap.growthfund.gr/api/S...
49  https://opendata-api-eydap.growthfund.gr/api/S...
50  https://opendata-api-eydap.growthfund.gr/api/S...
51  https://opendata-api-eydap.growthfund.gr/api/S...
52  https://opendata-api-eydap.growthfund.gr/api/S...
53  https://opendata-api-eydap.growthfund.gr/api/S...
54  https://opendata-api-eydap.growthfund.gr/api/S...
55  https://opendata-api-eydap.growthfund.gr/api/S...
56  https://opendata-api-eydap.growthfund.gr/api/S...
57  https://opendata-api-eydap.growthfund.gr/api/S...
58  https://opendata-api-eydap.growthfund.gr/api/S...
59  https://opendata-api-eydap.growthfund.gr/api/S...
60  https://opendata-api-eydap.growthfund.gr/api/S...
61  https://opendata-api-eydap.growthfund.gr/api/S...
62  https://opendata-api-eydap.growthfund.gr/api/S...
63  https://opendata-api-eydap.growthfund.gr/api/S...
64  https://opendata-api-eydap.growthfund.gr/api/S...
65  https://opendata-api-eydap.growthfund.gr/api/S...
66  https://opendata-api-eydap.growthfund.gr/api/S...
67  https://opendata-api-eydap.growthfund.gr/api/S...
68  https://opendata-api-eydap.growthfund.gr/api/S...
69  https://opendata-api-eydap.growthfund.gr/api/S...
70  https://opendata-api-eydap.growthfund.gr/api/S...
71  https://opendata-api-eydap.growthfund.gr/api/S...

In [13]:
response = requests.get(df1.apis[2])
response

In [14]:
data_list = []

for api in df1.apis:
    #make a request and visit it
    api_response = requests.get(api)
#     print(api_response.status_code)
    
    data = api_response.text
    parse_json = json.loads(data)
    
    data_list.append(parse_json)
    time.sleep(5)
    
#     print(":date", parse_json)

In [32]:
dictionaries = []

# Itterate through the inner lists and collect dictionaries
for dl in data_list:
    dictionaries.extend(dl)

# Create a DataFrame from the collected dictionaries
df = pd.DataFrame(dictionaries)

In [33]:
df.columns = df.columns.str.strip()
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [35]:
df[df['Marathonas'].isnull() | df['Mornos'].isnull()]

,Date,Eyinos,Marathonas,Mornos,Yliko,Total
9874,31/12/2011,48.838.000,NaN,491.580.000,385.308.000,954.806.000
10606,30/12/2013,62.373.000,NaN,617.403.000,431.956.000,1.139.393.000
10607,31/12/2013,62.718.000,NaN,616.711.000,432.592.000,1.139.660.000
14822,09/07/2025,45.647.000,24.448.000,NaN,216.225.000,546.931.000
14823,10/07/2025,45.647.000,24.468.000,NaN,215.400.000,544.570.000

In [36]:
# fix the empty cells

webpages_fix = ['https://opendata-api-eydap.growthfund.gr/api/Savings/Day/31-12-2011',
                'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/30-12-2013',
                'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/31-12-2013']

df2 = pd.DataFrame(webpages_fix)
df2 = df2.rename(columns = {df2.columns[0]:'apis'})

data_list2 = []

for api in df2.apis:
    #make a request and visit it
    api_response = requests.get(api)
#     print(api_response.status_code)
    
    data = api_response.text
    parse_json = json.loads(data)
    
    data_list2.append(parse_json)
    time.sleep(5)
    
#     print(":date", parse_json)

dictionaries = []

# Itterate through the inner lists and collect dictionaries
for dl in data_list2:
    dictionaries.extend(dl)

# Create a DataFrame from the collected dictionaries
df2 = pd.DataFrame(dictionaries)

In [65]:
df2

,Date,Eyinos,Marathonas,Mornos,Yliko,Total
0,30/12/2011,50.072.000,29.103.000,489.875.000,384.920.000,953.970.000
1,31/12/2011,48.838.000,29.080.000,491.580.000,385.308.000,954.806.000
2,29/12/2013,61.915.000,27.661.000,617.403.000,431.108.000,1.138.087.000
3,30/12/2013,62.373.000,27.661.000,617.403.000,431.956.000,1.139.393.000
4,30/12/2013,62.373.000,27.661.000,617.403.000,431.956.000,1.139.393.000
5,31/12/2013,62.718.000,27.639.000,616.711.000,432.592.000,1.139.660.000

In [66]:
#concatenate the different dataframes vertically
df3 = pd.concat([df,df2], axis=0, ignore_index=True)
df3 = df3.dropna()
df3 = df3.drop_duplicates(keep='first')
df3.tail(10)

In [67]:
df3[df3.duplicated(keep=False)]

Empty DataFrame
Columns: [Date, Eyinos, Marathonas, Mornos, Yliko, Total]
Index: []

In [42]:
# Make the dates, datetime
df3['date'] = pd.to_datetime(df3['Date'], format='%d/%m/%Y', dayfirst=True)

In [43]:
df3.sort_values(by='date', inplace=True)

In [47]:
for col in ['Eyinos','Yliko', 'Total','Marathonas', 'Mornos']:
    df3[col] = df3[col].str.replace('.', '', regex=False).str.strip().astype(int)

In [48]:
df3.dtypes

Date                  object
Eyinos                 int32
Marathonas             int32
Mornos                 int32
Yliko                  int32
Total                  int32
date          datetime64[ns]
dtype: object

In [49]:
df3 = df3[['date', 'Eyinos', 'Marathonas', 'Mornos', 'Yliko', 'Total']]

In [52]:
df3.tail()

            date    Eyinos  Marathonas     Mornos      Yliko      Total
14793 2025-07-07  45624000    24366000  263112000  217710000  550812000
14794 2025-07-08  45624000    24407000  261860000  216885000  548776000
14783 2025-07-08  45624000    24407000  259055000  216885000  548776000
14795 2025-07-09  45647000    24448000  260611000  216225000  546931000
14796 2025-07-10  45647000    24468000  259055000  215400000  544570000

In [56]:
#save your last df as a .csv file
# df3.to_csv('apothemata_nerou.csv',index=False)