In [1]:
#imports
import requests
import json
import time
import pandas as pd
import datetime

#set ups
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [2]:
# Ας τσεκάρουμε αν η σελίδα είναι ενεργή
response = requests.get('https://opendata-api-eydap.growthfund.gr/api/Production/Day/31-12-1998') 
response

In [3]:
# Δημιουργούμε όλους τους συνδέσμους (url) που αντιστοιχούν στα έτη που ερευνούμε 
# και τα αποθηκέυουμε σε μία λίστα που την ονομάζουμε "webpages"

webpages = []

for n in range(1985, 2026):    
    webpage = 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-' + str(n)
    webpages.append(webpage)
webpages

['https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-1985',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-1986',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-1987',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-1988',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-1989',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-1990',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-1991',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-1992',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-1993',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-1994',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-1995',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-1996',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-1997',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-1998',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-1999',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-2000',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-2001',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-2002',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-2003',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-2004',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-2005',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-2006',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-2007',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-2008',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-2009',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-2010',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-2011',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-2012',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-2013',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-2014',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-2015',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-2016',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-2017',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-2018',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-2019',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-2020',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-2021',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-2022',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-2023',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-2024',
 'https://opendata-api-eydap.growthfund.gr/api/Production/Year/31-12-2025']

In [4]:
# Δημιουργούμε μία λίστα με τις ημερομηνίες τους τελευταίου μήνα
start_date = datetime.datetime.strptime("01-07-2025", "%d-%m-%Y")

days = 31 # ο αριθμός ημερών της περιόδου (εν προκειμένω, του μήνα) που θέλουμε να συλλέξουμε

dates = pd.date_range(start_date, periods=days)
print(dates.strftime("%d-%m-%Y"))

Index(['01-07-2025', '02-07-2025', '03-07-2025', '04-07-2025', '05-07-2025',
       '06-07-2025', '07-07-2025', '08-07-2025', '09-07-2025', '10-07-2025',
       '11-07-2025', '12-07-2025', '13-07-2025', '14-07-2025', '15-07-2025',
       '16-07-2025', '17-07-2025', '18-07-2025', '19-07-2025', '20-07-2025',
       '21-07-2025', '22-07-2025', '23-07-2025', '24-07-2025', '25-07-2025',
       '26-07-2025', '27-07-2025', '28-07-2025', '29-07-2025', '30-07-2025',
       '31-07-2025'],
      dtype='object')

In [5]:
# Δημιουργούμε το url της εκάστοτε ημέρας του τελευταίου που θέλουμε να χρησιμοποιήσουμε 
# και το προσθέτουμε στη λίστα "webpages"

for date in dates:
    webpage = f"https://opendata-api-eydap.growthfund.gr/api/Savings/Day/{date.strftime('%d-%m-%Y')}"
    webpages.append(webpage)

webpages

['https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1985',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1986',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1987',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1988',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1989',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1990',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1991',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1992',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1993',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1994',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1995',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1996',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1997',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1998',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1999',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2000',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2001',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2002',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2003',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2004',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2005',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2006',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2007',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2008',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2009',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2010',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2011',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2012',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2013',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2014',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2015',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2016',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2017',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2018',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2019',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2020',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2021',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2022',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2023',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2024',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/01-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/02-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/03-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/04-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/05-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/06-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/07-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/08-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/09-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/10-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/11-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/12-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/13-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/14-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/15-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/16-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/17-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/18-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/19-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/20-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/21-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/22-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/23-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/24-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/25-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/26-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/27-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/28-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/29-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/30-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/31-07-2025']

In [4]:
# Τα αποθηκεύουμε σε ένα Dataframe
df1 = pd.DataFrame(webpages)
df1 = df1.rename(columns = {df1.columns[0]:'apis'})
df1

                                                 apis
0   https://opendata-api-eydap.growthfund.gr/api/P...
1   https://opendata-api-eydap.growthfund.gr/api/P...
2   https://opendata-api-eydap.growthfund.gr/api/P...
3   https://opendata-api-eydap.growthfund.gr/api/P...
4   https://opendata-api-eydap.growthfund.gr/api/P...
5   https://opendata-api-eydap.growthfund.gr/api/P...
6   https://opendata-api-eydap.growthfund.gr/api/P...
7   https://opendata-api-eydap.growthfund.gr/api/P...
8   https://opendata-api-eydap.growthfund.gr/api/P...
9   https://opendata-api-eydap.growthfund.gr/api/P...
10  https://opendata-api-eydap.growthfund.gr/api/P...
11  https://opendata-api-eydap.growthfund.gr/api/P...
12  https://opendata-api-eydap.growthfund.gr/api/P...
13  https://opendata-api-eydap.growthfund.gr/api/P...
14  https://opendata-api-eydap.growthfund.gr/api/P...
15  https://opendata-api-eydap.growthfund.gr/api/P...
16  https://opendata-api-eydap.growthfund.gr/api/P...
17  https://opendata-api-eydap.growthfund.gr/api/P...
18  https://opendata-api-eydap.growthfund.gr/api/P...
19  https://opendata-api-eydap.growthfund.gr/api/P...
20  https://opendata-api-eydap.growthfund.gr/api/P...
21  https://opendata-api-eydap.growthfund.gr/api/P...
22  https://opendata-api-eydap.growthfund.gr/api/P...
23  https://opendata-api-eydap.growthfund.gr/api/P...
24  https://opendata-api-eydap.growthfund.gr/api/P...
25  https://opendata-api-eydap.growthfund.gr/api/P...
26  https://opendata-api-eydap.growthfund.gr/api/P...
27  https://opendata-api-eydap.growthfund.gr/api/P...
28  https://opendata-api-eydap.growthfund.gr/api/P...
29  https://opendata-api-eydap.growthfund.gr/api/P...
30  https://opendata-api-eydap.growthfund.gr/api/P...
31  https://opendata-api-eydap.growthfund.gr/api/P...
32  https://opendata-api-eydap.growthfund.gr/api/P...
33  https://opendata-api-eydap.growthfund.gr/api/P...
34  https://opendata-api-eydap.growthfund.gr/api/P...
35  https://opendata-api-eydap.growthfund.gr/api/P...
36  https://opendata-api-eydap.growthfund.gr/api/P...
37  https://opendata-api-eydap.growthfund.gr/api/P...
38  https://opendata-api-eydap.growthfund.gr/api/P...
39  https://opendata-api-eydap.growthfund.gr/api/P...
40  https://opendata-api-eydap.growthfund.gr/api/P...

In [5]:
# Σιγουρευόμαστε πως υπάρχει αντίδραση στην κλήση μας
response = requests.get(df1.apis[2])
response

In [6]:
# Κάνουμε αίτημα στη διεύθυνση του API και αποθηκεύουμε την απόκριση στη λίστα "data_list" ως dict
data_list = []

for api in df1.apis:
    
    api_response = requests.get(api)
    data = api_response.text
    parse_json = json.loads(data)
    data_list.append(parse_json)
    
    time.sleep(5)

In [9]:
# Συλλέγουμε όλα τα dict και τα μετατρέπουμε σε dataframe (df)
dictionaries = []

for dl in data_list:
    dictionaries.extend(dl)

df = pd.DataFrame(dictionaries)
df.tail()

             Date Aspropirgos   Galatsi   Kiourka    Menidi       Total
10686  06/03/2025      96.300   304.973   113.145   509.211   1.023.629
10687  07/03/2025      97.400   307.312   111.366   501.047   1.017.125
10688  08/03/2025      98.200   310.713   114.290   537.261   1.060.464
10689  09/03/2025      95.640   304.797   113.266   525.145   1.038.848
10690  10/03/2025      94.410   309.211   110.130   519.098   1.032.849

In [10]:
# Αφαιρούμε τα κενά από τα ονόματα των στηλών και από κάθε κελί
df.columns = df.columns.str.strip()
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [20]:
df[df.duplicated(keep='first')]

             Date Aspropirgos  Galatsi  Kiourka   Menidi      Total
366    31/12/1996           0  302.510   68.840  446.910    818.260
732    31/12/1997      34.000  278.050   69.760  450.190    832.000
1098   31/12/1998      39.590  225.530   79.850  569.600    914.570
1464   31/12/1999      51.610  272.110   89.110  554.320    967.150
1831   31/12/2000     105.080  334.650  112.130  453.310  1.005.170
2197   31/12/2001     107.990  373.140   88.500  513.170  1.082.800
2563   31/12/2002     110.470  421.490  108.640  497.080  1.137.680
2929   31/12/2003     102.969  343.061  128.010  429.014  1.003.054
3296   31/12/2004     103.512  376.473   88.560  453.771  1.022.316
3662   31/12/2005     108.142  343.594  106.440  506.528  1.064.704
4028   31/12/2006     121.084  315.602   92.390  510.567  1.039.643
4394   31/12/2007     124.652  344.633   92.440  478.883  1.040.608
4761   31/12/2008     150.312  384.876   88.010  492.430  1.115.628
5127   31/12/2009     129.876  343.421   99.393  506.611  1.079.301
5493   31/12/2010     121.994  349.253   94.933  505.839  1.072.019
5859   31/12/2011     106.923  341.670   94.987  491.814  1.035.394
6226   31/12/2012     128.019  327.074   68.931  486.465  1.010.489
6592   31/12/2013     116.572  299.133   66.023  508.770    990.498
6958   31/12/2014     116.345  358.778   78.257  478.539  1.031.919
7324   31/12/2015     125.478  332.556   77.937  488.338  1.024.309
7691   31/12/2016     123.023  337.491   74.551  516.523  1.051.588
8057   31/12/2017     123.000  313.177   72.722  483.084    991.983
8423   31/12/2018     117.990  316.713   65.344  475.008    975.055
8789   31/12/2019     114.670  316.378   70.486  480.666    982.200
9156   31/12/2020     129.010  327.580   88.794  476.886  1.022.270
9522   31/12/2021     147.600  325.752   75.664  496.617  1.045.633
9888   31/12/2022     118.400  310.218   76.857  497.061  1.002.536
10254  31/12/2023     117.970  321.933   90.283  475.842  1.006.028
10621  31/12/2024      94.590  330.877  105.736  521.728  1.052.931

In [24]:
# Ενώνουμε τα dataframe και αφαιρούμε τις γραμμές που έχουν NaN τιμές
df = df.drop_duplicates(keep='first').copy()
df.tail(10)

             Date Aspropirgos  Galatsi  Kiourka   Menidi      Total       date
10681  01/03/2025      93.690  297.345  109.446  503.414  1.003.895 2025-03-01
10682  02/03/2025      89.040  287.102  108.636  456.258    941.036 2025-03-02
10683  03/03/2025      89.550  289.357  107.683  468.862    955.452 2025-03-03
10684  04/03/2025      92.400  302.156  105.624  498.064    998.244 2025-03-04
10685  05/03/2025      93.930  304.672  107.520  514.501  1.020.623 2025-03-05
10686  06/03/2025      96.300  304.973  113.145  509.211  1.023.629 2025-03-06
10687  07/03/2025      97.400  307.312  111.366  501.047  1.017.125 2025-03-07
10688  08/03/2025      98.200  310.713  114.290  537.261  1.060.464 2025-03-08
10689  09/03/2025      95.640  304.797  113.266  525.145  1.038.848 2025-03-09
10690  10/03/2025      94.410  309.211  110.130  519.098  1.032.849 2025-03-10

In [25]:
# Δημιουργούμε τη στήλη 'date' και μετατρέπουμε τις τιμές της στήλης 'Date' σε datetime
df['date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y', dayfirst=True)

In [26]:
# Ταξινομούμε τις τιμές σύμφωνα με τις νέες ημερομηνίες
df.sort_values(by='date', inplace=True)
df.tail()

             Date Aspropirgos  Galatsi  Kiourka   Menidi      Total       date
10686  06/03/2025      96.300  304.973  113.145  509.211  1.023.629 2025-03-06
10687  07/03/2025      97.400  307.312  111.366  501.047  1.017.125 2025-03-07
10688  08/03/2025      98.200  310.713  114.290  537.261  1.060.464 2025-03-08
10689  09/03/2025      95.640  304.797  113.266  525.145  1.038.848 2025-03-09
10690  10/03/2025      94.410  309.211  110.130  519.098  1.032.849 2025-03-10

In [29]:
# Μετατρέπουμε τις τιμές των αριθμιτικών στήλων σε integers
for col in ['Aspropirgos', 'Galatsi', 'Kiourka', 'Menidi', 'Total']:
    df[col] = df[col].str.replace('.', '', regex=False).str.strip().astype(int)

In [30]:
df.dtypes

Date                   object
Aspropirgos             int32
Galatsi                 int32
Kiourka                 int32
Menidi                  int32
Total                   int32
date           datetime64[ns]
dtype: object

In [35]:
# Φτιάχνουμε τη σειρά των στηλών
df = df[['date', 'Aspropirgos', 'Galatsi', 'Kiourka', 'Menidi', 'Total']]

In [36]:
df.tail(150)

            date  Aspropirgos  Galatsi  Kiourka  Menidi    Total
10540 2024-10-12       106420   335480   135387  590005  1167292
10541 2024-10-13       105160   324791   134701  583464  1148116
10542 2024-10-14       107000   333302   130533  584123  1154958
10543 2024-10-15       107620   339554   129577  581164  1157915
10544 2024-10-16       105220   325604   129479  577037  1137340
10545 2024-10-17       102320   320822   125758  565798  1114698
10546 2024-10-18       103740   322160   128996  575135  1130031
10547 2024-10-19       103160   330855   129118  566030  1129163
10548 2024-10-20       102190   320908   130854  562197  1116149
10549 2024-10-21       105140   330332   128800  575657  1139929
10550 2024-10-22       103260   343711   126498  574960  1148429
10551 2024-10-23       101780   332719   127029  571744  1133272
10552 2024-10-24       100860   330189   121630  570583  1123262
10553 2024-10-25       103990   326488   127857  568062  1126397
10554 2024-10-26       104100   317218   131479  545068  1097865
10555 2024-10-27       106460   318227   131526  548282  1104495
10556 2024-10-28       103950   314760   133849  539233  1091792
10557 2024-10-29       104880   327036   127223  562793  1121932
10558 2024-10-30       104430   327980   129467  565704  1127581
10559 2024-10-31       102510   323008   130601  561712  1117831
10560 2024-11-01       103570   326785   154525  542882  1127762
10561 2024-11-02       103620   331758   139925  568780  1144083
10562 2024-11-03       100920   323934   137881  554639  1117374
10563 2024-11-04       103040   324514   144451  560701  1132706
10564 2024-11-05       100870   320608   144801  548511  1114790
10565 2024-11-06        99090   323476   130094  550173  1102833
10566 2024-11-07        99110   326318   128355  550574  1104357
10567 2024-11-08        99720   325562   130002  548409  1103693
10568 2024-11-09       103200   328020   133885  556589  1121694
10569 2024-11-10       101430   326989   133723  553877  1116019
10570 2024-11-11       101260   325182   130333  552553  1109328
10571 2024-11-12        97410   317943   122061  519773  1057187
10572 2024-11-13        95540   318656   120274  516671  1051141
10573 2024-11-14        94240   322305   119784  522302  1058631
10574 2024-11-15        94700   322815   118541  513008  1049064
10575 2024-11-16        94150   329784   117962  513867  1055763
10576 2024-11-17        93340   324419   116340  497941  1032040
10577 2024-11-18        95460   324418   117259  528301  1065438
10578 2024-11-19        96150   314503   115906  517434  1043993
10579 2024-11-20        94730   321513   111166  515370  1042779
10580 2024-11-21        94540   321270   117384  508791  1041985
10581 2024-11-22        96060   321828   124629  531828  1074345
10582 2024-11-23        95710   327139   124929  518370  1066148
10583 2024-11-24        96840   322888   121386  510345  1051459
10584 2024-11-25       100180   318228   119328  515002  1052738
10585 2024-11-26        96470   320048   118992  512258  1047768
10586 2024-11-27       100839   320878   123974  529091  1074782
10587 2024-11-28        97211   321742   130959  522473  1072385
10588 2024-11-29        96500   318665   123464  513276  1051905
10589 2024-11-30        94200   314077   117675  502194  1028146
10590 2024-12-01        93460   317635   117041  509062  1037198
10591 2024-12-02        92240   313473   115268  510929  1031910
10592 2024-12-03        93860   314270   111779  498122  1018031
10593 2024-12-04        92920   313538   113339  499151  1018948
10594 2024-12-05        94620   312408   112116  502606  1021750
10595 2024-12-06        91950   313051   112724  491618  1009343
10596 2024-12-07        93290   316848   113131  503160  1026429
10597 2024-12-08        92730   316953   114490  495004  1019177
10598 2024-12-09        93910   315634   109641  498980  1018165
10599 2024-12-10        92560   315481   108648  501659  1018348
10600 2024-12-11        94630   318297   109573  515390  1037890
10601 2024-12-12        92800   311340   108239  500099  1012478
10602 2024-12-13        92750   307771   107581  498054  1006156
10603 2024-12-14        92590   324572   108410  509410  1034982
10604 2024-12-15        92490   313689   107626  496404  1010209
10605 2024-12-16        94030   302406   105981  493177   995594
10606 2024-12-17        93800   328430   106813  504386  1033429
10607 2024-12-18        94490   322933   105493  513079  1035995
10608 2024-12-19        95690   318499   105402  505931  1025522
10609 2024-12-20        95170   320874   105126  505153  1026323
10610 2024-12-21        94700   347016   106147  504854  1052717
10611 2024-12-22        92120   314355   107074  493125  1006674
10612 2024-12-23        92050   317089   105974  497853  1012966
10613 2024-12-24        92190   316109   106450  496698  1011447
10614 2024-12-25        88200   301325   104097  461293   954915
10615 2024-12-26        88010   300202   104360  445400   937972
10616 2024-12-27        90060   310299   105810  480802   986971
10617 2024-12-28        89730   312420   103249  468591   973990
10618 2024-12-29        90400   312044   104292  478014   984750
10619 2024-12-30        73970   321708   104097  504664  1004439
10620 2024-12-31        94590   330877   105736  521728  1052931
10622 2025-01-01        88710   311046   103720  473154   976630
10623 2025-01-02        90260   313979   105588  490370  1000197
10624 2025-01-03        90670   312331   106118  488423   997542
10625 2025-01-04        90640   313530   105033  490138   999341
10626 2025-01-05        91270   311704   105423  486127   994524
10627 2025-01-06        90710   314778   104553  478979   989020
10628 2025-01-07        91710   318002   105286  511818  1026816
10629 2025-01-08        91650   321932   105523  517771  1036876
10630 2025-01-09        93730   316929   104573  517621  1032853
10631 2025-01-10        92330   317617   104487  514006  1028440
10632 2025-01-11        92540   314322   106338  518121  1031321
10633 2025-01-12        92000   313559   108178  520223  1033960
10634 2025-01-13        86770   305387   102503  490182   984842
10635 2025-01-14        85370   290687   103150  484774   963981
10636 2025-01-15        88020   325245   105108  504234  1022607
10637 2025-01-16        94440   316784   103640  501474  1016338
10638 2025-01-17        95870   321710   104106  499421  1021107
10639 2025-01-18        94440   321884   105943  517673  1039940
10640 2025-01-19        91610   318872   105825  504411  1020718
10641 2025-01-20        90080   320656   105173  511122  1027031
10642 2025-01-21        88940   305027   104971  498071   997009
10643 2025-01-22        92180   334437   105628  505137  1037382
10644 2025-01-23        91030   318337   105687  501280  1016334
10645 2025-01-24        90310   319302   105731  498254  1013597
10646 2025-01-25        92950   325774   107952  510358  1037034
10647 2025-01-26        89390   318497   107403  497716  1013006
10648 2025-01-27        90530   323977   104951  471622   991080
10649 2025-01-28        95300   323153    98826  523553  1040832
10650 2025-01-29        91290   329020    93796  523962  1038068
10651 2025-01-30        91560   322867    99042  485235   998704
10652 2025-01-31        92390   328290   107109  501415  1029204
10653 2025-02-01        92400   329214   107479  510481  1039574
10654 2025-02-02        91250   325684   106707  506878  1030519
10655 2025-02-03        90960   324516   103599  493862  1012937
10656 2025-02-04        85990   319916   102540  494433  1002879
10657 2025-02-05        87990   317070   103328  485288   993676
10658 2025-02-06        88270   317070   102479  471750   979569
10659 2025-02-07        86330   321787   103771  469934   981822
10660 2025-02-08        86930   320440   105269  496223  1008862
10661 2025-02-09        87220   318549   105094  491506  1002369
10662 2025-02-10        89500   320080   107937  510738  1028255
10663 2025-02-11        88320   315002   103011  484851   991184
10664 2025-02-12        87540   316159   101956  501501  1007156
10665 2025-02-13        91340   323646   104060  508109  1027155
10666 2025-02-14        92200   317513   103579  514169  1027461
10667 2025-02-15        95110   307159   105333  520633  1028235
10668 2025-02-16        90080   308341   103888  486293   988602
10669 2025-02-17        94490   312722   103387  504670  1015269
10670 2025-02-18        91690   299574   100482  496433   988179
10671 2025-02-19        90760   288891   102254  492289   974194
10672 2025-02-20        92510   296619   101904  483464   974497
10673 2025-02-21        92010   299201   102038  484640   977889
10674 2025-02-22        92350   302750   102803  493667   991570
10675 2025-02-23        92830   304185   104146  495664   996825
10676 2025-02-24        93230   299064   103848  489398   985540
10677 2025-02-25        93520   298926   104361  501163   997970
10678 2025-02-26        95570   306812   103514  517298  1023194
10679 2025-02-27        91290   296126   104090  490364   981870
10680 2025-02-28        89810   300225   105229  470706   965970
10681 2025-03-01        93690   297345   109446  503414  1003895
10682 2025-03-02        89040   287102   108636  456258   941036
10683 2025-03-03        89550   289357   107683  468862   955452
10684 2025-03-04        92400   302156   105624  498064   998244
10685 2025-03-05        93930   304672   107520  514501  1020623
10686 2025-03-06        96300   304973   113145  509211  1023629
10687 2025-03-07        97400   307312   111366  501047  1017125
10688 2025-03-08        98200   310713   114290  537261  1060464
10689 2025-03-09        95640   304797   113266  525145  1038848
10690 2025-03-10        94410   309211   110130  519098  1032849

In [37]:
by_year = df.groupby(pd.Grouper(key='date', freq='Y')).sum().reset_index()

In [38]:
by_year

         date  Aspropirgos    Galatsi   Kiourka     Menidi      Total
0  1996-12-31       541000  117202360  30246060  159442530  307431950
1  1997-12-31      9524900  109942110  33562630  166397490  319427130
2  1998-12-31     16879030  115115200  38059490  169622070  339675790
3  1999-12-31     20708360   98492180  43103490  194699024  357003054
4  2000-12-31     28502580  115247110  53509070  188597314  385856074
5  2001-12-31     44301787  117981570  62891720  175383140  400558217
6  2002-12-31     43978673  140823750  54288260  177510460  416601143
7  2003-12-31     43773304  130771809  58391554  166283638  399220305
8  2004-12-31     43535756  132021988  60312440  177498303  413368487
9  2005-12-31     42398107  130680325  51359723  175559056  399997211
10 2006-12-31     46468033  130201878  49096504  186272169  412038584
11 2007-12-31     50179783  127960600  48797132  193822399  420759914
12 2008-12-31     55744257  130918892  45760891  198594213  431018253
13 2009-12-31     54232300  124456010  44771503  191325688  414785501
14 2010-12-31     51748898  124413117  49901599  191565011  417628625
15 2011-12-31     46832298  126577032  48873283  184385759  406668372
16 2012-12-31     49057185  126015196  46078249  187009663  408160293
17 2013-12-31     48944346  121915519  44554395  182337910  397752170
18 2014-12-31     46139374  125703907  39392562  186623839  397859682
19 2015-12-31     47767925  131476102  38623043  189746265  407613335
20 2016-12-31     49626831  126172955  38381542  196377852  410559180
21 2017-12-31     49075117  117673998  37138103  187961951  391849169
22 2018-12-31     48213870  115352927  34986236  184112776  382665809
23 2019-12-31     47723860  115612202  38830673  185032062  387198797
24 2020-12-31     48526665  117001129  38897454  188799266  393224514
25 2021-12-31     51006769  118811226  39859243  189303684  398980922
26 2022-12-31     47005670  115022325  38348676  184049272  384425943
27 2023-12-31     46329506  114950924  39577848  185796227  386654505
28 2024-12-31     43999790  119762033  47298448  198170057  409230328
29 2025-12-31      6310740   21574514   7250556   34435911   69571721

In [39]:
by_year.to_csv('paragogi_nerou_year.csv',index=False)

In [40]:
# Αποθηκεύουμε σε .csv αρχείο
df.to_csv('paragogi_nerou.csv',index=False)