In [1]:
#imports
import requests
import json
import time
import pandas as pd
import datetime

#set ups
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [2]:
# Let's check if the website is responsive
response = requests.get('https://opendata-api-eydap.growthfund.gr/api/Savings/Day/31-12-1998') 
response

In [3]:
# We create all the links (URLs) corresponding to the years we are researching
# and we store them in a list called "webpages"

webpages = []

for n in range(1985, 2026):    
    webpage = 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-' + str(n)
    webpages.append(webpage)
webpages

['https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1985',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1986',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1987',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1988',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1989',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1990',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1991',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1992',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1993',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1994',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1995',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1996',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1997',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1998',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1999',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2000',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2001',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2002',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2003',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2004',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2005',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2006',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2007',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2008',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2009',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2010',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2011',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2012',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2013',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2014',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2015',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2016',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2017',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2018',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2019',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2020',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2021',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2022',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2023',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2024',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2025']

In [4]:
# We create a list with the dates of the last month
start_date = datetime.datetime.strptime("01-07-2025", "%d-%m-%Y")

days = 31 # the number of days in the period (in this case, the month) that we want to collect

dates = pd.date_range(start_date, periods=days)
print(dates.strftime("%d-%m-%Y"))

Index(['01-07-2025', '02-07-2025', '03-07-2025', '04-07-2025', '05-07-2025',
       '06-07-2025', '07-07-2025', '08-07-2025', '09-07-2025', '10-07-2025',
       '11-07-2025', '12-07-2025', '13-07-2025', '14-07-2025', '15-07-2025',
       '16-07-2025', '17-07-2025', '18-07-2025', '19-07-2025', '20-07-2025',
       '21-07-2025', '22-07-2025', '23-07-2025', '24-07-2025', '25-07-2025',
       '26-07-2025', '27-07-2025', '28-07-2025', '29-07-2025', '30-07-2025',
       '31-07-2025'],
      dtype='object')

In [5]:
# We create the URL of each day of the last month that we want to use
# and add it to the "webpages" list

for date in dates:
    webpage = f"https://opendata-api-eydap.growthfund.gr/api/Savings/Day/{date.strftime('%d-%m-%Y')}"
    webpages.append(webpage)

webpages

['https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1985',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1986',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1987',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1988',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1989',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1990',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1991',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1992',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1993',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1994',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1995',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1996',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1997',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1998',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-1999',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2000',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2001',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2002',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2003',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2004',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2005',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2006',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2007',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2008',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2009',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2010',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2011',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2012',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2013',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2014',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2015',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2016',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2017',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2018',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2019',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2020',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2021',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2022',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2023',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2024',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Year/31-12-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/01-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/02-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/03-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/04-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/05-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/06-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/07-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/08-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/09-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/10-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/11-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/12-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/13-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/14-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/15-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/16-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/17-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/18-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/19-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/20-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/21-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/22-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/23-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/24-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/25-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/26-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/27-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/28-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/29-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/30-07-2025',
 'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/31-07-2025']

In [6]:
# We store them in a DataFrame
df1 = pd.DataFrame(webpages)
df1 = df1.rename(columns = {df1.columns[0]:'apis'})
df1

                                                 apis
0   https://opendata-api-eydap.growthfund.gr/api/S...
1   https://opendata-api-eydap.growthfund.gr/api/S...
2   https://opendata-api-eydap.growthfund.gr/api/S...
3   https://opendata-api-eydap.growthfund.gr/api/S...
4   https://opendata-api-eydap.growthfund.gr/api/S...
5   https://opendata-api-eydap.growthfund.gr/api/S...
6   https://opendata-api-eydap.growthfund.gr/api/S...
7   https://opendata-api-eydap.growthfund.gr/api/S...
8   https://opendata-api-eydap.growthfund.gr/api/S...
9   https://opendata-api-eydap.growthfund.gr/api/S...
10  https://opendata-api-eydap.growthfund.gr/api/S...
11  https://opendata-api-eydap.growthfund.gr/api/S...
12  https://opendata-api-eydap.growthfund.gr/api/S...
13  https://opendata-api-eydap.growthfund.gr/api/S...
14  https://opendata-api-eydap.growthfund.gr/api/S...
15  https://opendata-api-eydap.growthfund.gr/api/S...
16  https://opendata-api-eydap.growthfund.gr/api/S...
17  https://opendata-api-eydap.growthfund.gr/api/S...
18  https://opendata-api-eydap.growthfund.gr/api/S...
19  https://opendata-api-eydap.growthfund.gr/api/S...
20  https://opendata-api-eydap.growthfund.gr/api/S...
21  https://opendata-api-eydap.growthfund.gr/api/S...
22  https://opendata-api-eydap.growthfund.gr/api/S...
23  https://opendata-api-eydap.growthfund.gr/api/S...
24  https://opendata-api-eydap.growthfund.gr/api/S...
25  https://opendata-api-eydap.growthfund.gr/api/S...
26  https://opendata-api-eydap.growthfund.gr/api/S...
27  https://opendata-api-eydap.growthfund.gr/api/S...
28  https://opendata-api-eydap.growthfund.gr/api/S...
29  https://opendata-api-eydap.growthfund.gr/api/S...
30  https://opendata-api-eydap.growthfund.gr/api/S...
31  https://opendata-api-eydap.growthfund.gr/api/S...
32  https://opendata-api-eydap.growthfund.gr/api/S...
33  https://opendata-api-eydap.growthfund.gr/api/S...
34  https://opendata-api-eydap.growthfund.gr/api/S...
35  https://opendata-api-eydap.growthfund.gr/api/S...
36  https://opendata-api-eydap.growthfund.gr/api/S...
37  https://opendata-api-eydap.growthfund.gr/api/S...
38  https://opendata-api-eydap.growthfund.gr/api/S...
39  https://opendata-api-eydap.growthfund.gr/api/S...
40  https://opendata-api-eydap.growthfund.gr/api/S...
41  https://opendata-api-eydap.growthfund.gr/api/S...
42  https://opendata-api-eydap.growthfund.gr/api/S...
43  https://opendata-api-eydap.growthfund.gr/api/S...
44  https://opendata-api-eydap.growthfund.gr/api/S...
45  https://opendata-api-eydap.growthfund.gr/api/S...
46  https://opendata-api-eydap.growthfund.gr/api/S...
47  https://opendata-api-eydap.growthfund.gr/api/S...
48  https://opendata-api-eydap.growthfund.gr/api/S...
49  https://opendata-api-eydap.growthfund.gr/api/S...
50  https://opendata-api-eydap.growthfund.gr/api/S...
51  https://opendata-api-eydap.growthfund.gr/api/S...
52  https://opendata-api-eydap.growthfund.gr/api/S...
53  https://opendata-api-eydap.growthfund.gr/api/S...
54  https://opendata-api-eydap.growthfund.gr/api/S...
55  https://opendata-api-eydap.growthfund.gr/api/S...
56  https://opendata-api-eydap.growthfund.gr/api/S...
57  https://opendata-api-eydap.growthfund.gr/api/S...
58  https://opendata-api-eydap.growthfund.gr/api/S...
59  https://opendata-api-eydap.growthfund.gr/api/S...
60  https://opendata-api-eydap.growthfund.gr/api/S...
61  https://opendata-api-eydap.growthfund.gr/api/S...
62  https://opendata-api-eydap.growthfund.gr/api/S...
63  https://opendata-api-eydap.growthfund.gr/api/S...
64  https://opendata-api-eydap.growthfund.gr/api/S...
65  https://opendata-api-eydap.growthfund.gr/api/S...
66  https://opendata-api-eydap.growthfund.gr/api/S...
67  https://opendata-api-eydap.growthfund.gr/api/S...
68  https://opendata-api-eydap.growthfund.gr/api/S...
69  https://opendata-api-eydap.growthfund.gr/api/S...
70  https://opendata-api-eydap.growthfund.gr/api/S...
71  https://opendata-api-eydap.growthfund.gr/api/S...

In [7]:
# We make sure there is a response to our request
response = requests.get(df1.apis[2])
response

In [8]:
# We make a request to the API endpoint and store the response in the "data_list" as a dict
data_list = []

for api in df1.apis:
    
    api_response = requests.get(api)
    data = api_response.text
    parse_json = json.loads(data)
    data_list.append(parse_json)
    
    time.sleep(5)

In [9]:
# We collect all the dicts and convert them into a dataframe (df)
dictionaries = []

for dl in data_list:
    dictionaries.extend(dl)

df = pd.DataFrame(dictionaries)

In [10]:
# We remove spaces from the column names and from each cell
df.columns = df.columns.str.strip()
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [11]:
# We have missing values (NaN) which are not real...

df[df['Marathonas'].isnull() | df['Mornos'].isnull()]

,Date,Eyinos,Marathonas,Mornos,Yliko,Total
9874,31/12/2011,48.838.000,NaN,491.580.000,385.308.000,954.806.000
10606,30/12/2013,62.373.000,NaN,617.403.000,431.956.000,1.139.393.000
10607,31/12/2013,62.718.000,NaN,616.711.000,432.592.000,1.139.660.000
14823,10/07/2025,45.647.000,24.468.000,NaN,215.400.000,544.570.000
14824,11/07/2025,45.671.000,24.468.000,NaN,214.575.000,542.631.000

In [47]:
# Because when the request is made for one day, the blanks are not NaN
requests.get('https://opendata-api-eydap.growthfund.gr/api/Savings/Day/31-12-2011').text

'[{"Date":"30/12/2011","Eyinos":"50.072.000","Marathonas":"29.103.000","Mornos":"489.875.000","Yliko":"384.920.000","Total":"953.970.000"},{"Date":"31/12/2011","Eyinos":" 48.838.000","Marathonas":" 29.080.000","Mornos":" 491.580.000","Yliko":" 385.308.000","Total":" 954.806.000"}]'

In [14]:
# We call those dates again individually (:duration = Day) and store them in a dataframe (df2)

webpages_fix = ['https://opendata-api-eydap.growthfund.gr/api/Savings/Day/31-12-2011',
                'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/30-12-2013',
                'https://opendata-api-eydap.growthfund.gr/api/Savings/Day/31-12-2013']

df2 = pd.DataFrame(webpages_fix)
df2 = df2.rename(columns = {df2.columns[0]:'apis'})

data_list2 = []

for api in df2.apis:

    api_response = requests.get(api)
    data = api_response.text
    parse_json = json.loads(data)
    data_list2.append(parse_json)
    time.sleep(5)

dictionaries = []

for dl in data_list2:
    dictionaries.extend(dl)

df2 = pd.DataFrame(dictionaries)

In [35]:
# We merge the dataframes and remove the rows that have NaN values

df3 = pd.concat([df,df2], axis=0, ignore_index=True)
df3 = df3.dropna()
df3 = df3.drop_duplicates(keep='first')
df3 = df3.drop_duplicates(subset='Date', keep='first')
df3.tail(10)

,Date,Eyinos,Marathonas,Mornos,Yliko,Total
14816,03/07/2025,45.553.000,24.387.000,264.734.000,221.010.000,559.320.000
14817,04/07/2025,45.577.000,24.387.000,264.475.000,220.020.000,557.087.000
14818,05/07/2025,45.600.000,24.366.000,263.112.000,219.195.000,553.895.000
14819,06/07/2025,45.600.000,24.326.000,261.860.000,218.370.000,552.771.000
14820,07/07/2025,45.624.000,24.366.000,260.611.000,217.710.000,550.812.000
14821,08/07/2025,45.624.000,24.407.000,259.055.000,216.885.000,548.776.000
14822,09/07/2025,45.647.000,24.448.000,257.917.000,216.225.000,546.931.000
14844,10/07/2025,45.647.000,24.468.000,259.055.000,215.400.000,544.570.000
14846,11/07/2025,45.671.000,24.468.000,257.917.000,214.575.000,542.631.000
14851,30/12/2013,62.373.000,27.661.000,617.403.000,431.956.000,1.139.393.000

In [37]:
# We create the 'date' column and convert the values of the 'Date' column to datetime
df3['date'] = pd.to_datetime(df3['Date'], format='%d/%m/%Y', dayfirst=True)

In [38]:
# We sort the values according to the new dates
df3.sort_values(by='date', inplace=True)
df3.tail()

,Date,Eyinos,Marathonas,Mornos,Yliko,Total,date
0,01/01/1985,0,18.744.148,561.736.000,491.425.000,1.071.905.148,1985-01-01
1,02/01/1985,0,18.288.394,562.060.000,499.340.000,1.079.688.394,1985-01-02
2,03/01/1985,0,17.959.091,564.490.000,503.880.000,1.086.329.091,1985-01-03
3,04/01/1985,0,17.632.916,566.950.000,506.831.000,1.091.413.916,1985-01-04
4,05/01/1985,0,16.956.000,569.260.000,509.555.000,1.095.771.000,1985-01-05

In [39]:
# We convert the values of the numeric columns to integers
for col in ['Eyinos','Yliko', 'Total','Marathonas', 'Mornos']:
    df3[col] = df3[col].str.replace('.', '', regex=False).str.strip().astype(int)

In [42]:
df3.dtypes

Date                  object
Eyinos                 int32
Marathonas             int32
Mornos                 int32
Yliko                  int32
Total                  int32
date          datetime64[ns]
dtype: object

In [3]:
# We rename of Lake Yliki and fix the order of the columns
df3 = df3.rename(columns={
    'Yliko': 'Yliki'})

df3 = df3[['date', 'Eyinos', 'Marathonas', 'Mornos', 'Yliki', 'Total']]

In [4]:
df3.tail(150)

             date    Eyinos  Marathonas     Mornos      Yliki      Total
14648  2025-02-20  19267000    20758000  365930000  262806000  668761000
14649  2025-02-21  19593000    20646000  365428000  262806000  668473000
14650  2025-02-22  19851000    20535000  365052000  262806000  668244000
14651  2025-02-23  20112000    20405000  364550000  262806000  667873000
14652  2025-02-24  20374000    20313000  364049000  262806000  667542000
14653  2025-02-25  20637000    20129000  363548000  262806000  667120000
14654  2025-02-26  20902000    20038000  363048000  262979000  666967000
14655  2025-02-27  21150000    19946000  362298000  263152000  666546000
14656  2025-02-28  21382000    19855000  361550000  263325000  666112000
14657  2025-03-01  21686000    19782000  360926000  263498000  665892000
14658  2025-03-02  21939000    19764000  360303000  263671000  665677000
14659  2025-03-03  22138000    19692000  359555000  263844000  665229000
14660  2025-03-04  22356000    19655000  358933000  263844000  664788000
14661  2025-03-05  22612000    19601000  358188000  264017000  664418000
14662  2025-03-06  22814000    19475000  357567000  264017000  663873000
14663  2025-03-07  23017000    19331000  356947000  263844000  663139000
14664  2025-03-08  23220000    19206000  356327000  264017000  662770000
14665  2025-03-09  23387000    19152000  355583000  264017000  662139000
14666  2025-03-10  23555000    19099000  354840000  263844000  661338000
14667  2025-03-11  23742000    19045000  354099000  263671000  660557000
14668  2025-03-12  23930000    19152000  353358000  263498000  659938000
14669  2025-03-13  24193000    19331000  352372000  263152000  659048000
14670  2025-03-14  24573000    19475000  352372000  262806000  659226000
14671  2025-03-15  24859000    19601000  351758000  262460000  658678000
14672  2025-03-16  25051000    19710000  351142000  262287000  658190000
14673  2025-03-17  25243000    19855000  350528000  262114000  657740000
14674  2025-03-18  25436000    19983000  349791000  261941000  657151000
14675  2025-03-19  25630000    20166000  349178000  261595000  656569000
14676  2025-03-20  25825000    20350000  348565000  261422000  656162000
14677  2025-03-21  26020000    20535000  347830000  261076000  655461000
14678  2025-03-22  26177000    20665000  345876000  260730000  307572000
14679  2025-03-23  26334000    20739000  345144000  260384000  307457000
14680  2025-03-24  26472000    20851000  344535000  260384000  653583000
14681  2025-03-25  26709000    21039000  343562000  260038000  652930000
14682  2025-03-26  26907000    21227000  342832000  259692000  652361000
14683  2025-03-27  27106000    21303000  342226000  259865000  651836000
14684  2025-03-28  27306000    21341000  341862000  259519000  650998000
14685  2025-03-29  27608000    21379000  341377000  259346000  650559000
14686  2025-03-30  28215000    21436000  340893000  259173000  650686000
14687  2025-03-31  29138000    21492000  340409000  259000000  651007000
14688  2025-04-01  29554000    21645000  339926000  259000000  651092000
14689  2025-04-02  30394000    21760000  339443000  258660000  651223000
14690  2025-04-03  31138000    21855000  338960000  258490000  651409000
14691  2025-04-04  31633000    21990000  338478000  258320000  651386000
14692  2025-04-05  32219000    22105000  338116000  258320000  651604000
14693  2025-04-06  32700000    22183000  337634000  258150000  651511000
14694  2025-04-07  33252000    22299000  337634000  257980000  651647000
14695  2025-04-08  33698000    22396000  336551000  257980000  651708000
14696  2025-04-09  34056000    22474000  335830000  257980000  652144000
14697  2025-04-10  34416000    22591000  335231000  257640000  651198000
14698  2025-04-11  34734000    22689000  334632000  257470000  650723000
14699  2025-04-12  35052000    22728000  333912000  257300000  650311000
14700  2025-04-13  35373000    22748000  333314000  256960000  649713000
14701  2025-04-14  35580000    22767000  332716000  256960000  649219000
14702  2025-04-15  35810000    22826000  332239000  256620000  648570000
14703  2025-04-16  36088000    22885000  331762000  256280000  647969000
14704  2025-04-17  36344000    22905000  331165000  255770000  647258000
14705  2025-04-18  36624000    22905000  330688000  255430000  646721000
14706  2025-04-19  36858000    23003000  330093000  255260000  646286000
14707  2025-04-20  37093000    23082000  329499000  255090000  645953000
14708  2025-04-21  37282000    23221000  328785000  254750000  645346000
14709  2025-04-22  37471000    23280000  328074000  254410000  644660000
14710  2025-04-23  37637000    23280000  327481000  254410000  644112000
14711  2025-04-24  37804000    23300000  326888000  253900000  643078000
14712  2025-04-25  38090000    23380000  326296000  253900000  642851000
14713  2025-04-26  38330000    23459000  325705000  253560000  642237000
14714  2025-04-27  38522000    23579000  325114000  253560000  641957000
14715  2025-04-28  38763000    23619000  324407000  253220000  641307000
14716  2025-04-29  38957000    23659000  323465000  252880000  640610000
14717  2025-04-30  39151000    23720000  322877000  252540000  639818000
14718  2025-05-01  39248000    23780000  322173000  252030000  638523000
14719  2025-05-02  39321000    23860000  321353000  251520000  637578000
14720  2025-05-03  39321000    23880000  320650000  251350000  636724000
14721  2025-05-04  39321000    23860000  319832000  251010000  635544000
14722  2025-05-05  39370000    23820000  319132000  250670000  634510000
14723  2025-05-06  39443000    23780000  318431000  250330000  633385000
14724  2025-05-07  39541000    23740000  317733000  250160000  632573000
14725  2025-05-08  39663000    23720000  316918000  249650000  631464000
14726  2025-05-09  39759000    23659000  315872000  249480000  630631000
14727  2025-05-10  39824000    23639000  314946000  248970000  629351000
14728  2025-05-11  39867000    23639000  314366000  248800000  628178000
14729  2025-05-12  39867000    23699000  313673000  248460000  626972000
14730  2025-05-13  40041000    23780000  312865000  247950000  626137000
14731  2025-05-14  40237000    23900000  312173000  247780000  625590000
14732  2025-05-15  40521000    23961000  311598000  247440000  624787000
14733  2025-05-16  40718000    24001000  310908000  246930000  623822000
14734  2025-05-17  40872000    24062000  310218000  246590000  623122000
14735  2025-05-18  40960000    24082000  309300000  246080000  622030000
14736  2025-05-19  41048000    24042000  308384000  245910000  621218000
14737  2025-05-20  41202000    24062000  307354000  245570000  620134000
14738  2025-05-21  41357000    24082000  306556000  245230000  619053000
14739  2025-05-22  41446000    24102000  305758000  244890000  617792000
14740  2025-05-23  41579000    24183000  304962000  244550000  616868000
14741  2025-05-24  41735000    24204000  304167000  244210000  615907000
14742  2025-05-25  41891000    24224000  303372000  243870000  614947000
14743  2025-05-26  42025000    24305000  302579000  243700000  614197000
14744  2025-05-27  42137000    24407000  301789000  243360000  613276000
14745  2025-05-28  42271000    24509000  301337000  243020000  612379000
14746  2025-05-29  42384000    24529000  300548000  242680000  611382000
14747  2025-05-30  42677000    24529000  299648000  241833000  610376000
14748  2025-05-31  42948000    24550000  298638000  241666000  609712000
14749  2025-06-01  43175000    24611000  297740000  241165000  608599000
14750  2025-06-02  43357000    24611000  296844000  240664000  607270000
14751  2025-06-03  43471000    24632000  295949000  240163000  606006000
14752  2025-06-04  43585000    24652000  295058000  239829000  604910000
14753  2025-06-05  43699000    24693000  294166000  239328000  603669000
14754  2025-06-06  43791000    24714000  293277000  238660000  602223000
14755  2025-06-07  43883000    24693000  292391000  238159000  600901000
14756  2025-06-08  43974000    24693000  291505000  237658000  599602000
14757  2025-06-09  44066000    24755000  290510000  236990000  598202000
14758  2025-06-10  44112000    24796000  289517000  236489000  596902000
14759  2025-06-11  44158000    24817000  288637000  235988000  595473000
14760  2025-06-12  44181000    24796000  287868000  235320000  593814000
14761  2025-06-13  44251000    24796000  286880000  234652000  592336000
14762  2025-06-14  44320000    24775000  286004000  233984000  590947000
14763  2025-06-15  44389000    24755000  284803000  233316000  589340000
14764  2025-06-16  44482000    24755000  283821000  232648000  587889000
14765  2025-06-17  44597000    24755000  282732000  232314000  586469000
14766  2025-06-18  44713000    24755000  281755000  231646000  584935000
14767  2025-06-19  44829000    24693000  280779000  230978000  583232000
14768  2025-06-20  44922000    24673000  279913000  230143000  581493000
14769  2025-06-21  45016000    24632000  278834000  229475000  579902000
14770  2025-06-22  45155000    24550000  277864000  228807000  578425000
14771  2025-06-23  45202000    24611000  276896000  228139000  576786000
14772  2025-06-24  45296000    24652000  275930000  227638000  575450000
14773  2025-06-25  45366000    24591000  274966000  226970000  573823000
14774  2025-06-26  45413000    24611000  224002000  226302000  572256000
14775  2025-06-27  45460000    24468000  273041000  225634000  570528000
14776  2025-06-28  45506000    24448000  271976000  224970000  518926000
14777  2025-06-29  45530000    24427000  270806000  224310000  567308000
14778  2025-06-30  45530000    24387000  269640000  223485000  565378000
14779  2025-06-30  45530000    24387000  271976000  223485000  565378000
14780  2025-07-01  45553000    24407000  268370000  222660000  563426000
14781  2025-07-01  45553000    24407000  270806000  222660000  563426000
14782  2025-07-02  45553000    24387000  269640000  221835000  561415000
14783  2025-07-02  45553000    24387000  267103000  221835000  561415000
14784  2025-07-03  45553000    24387000  264734000  221010000  559320000
14785  2025-07-03  45553000    24387000  268370000  221010000  559320000
14786  2025-07-04  45577000    24387000  267103000  220020000  557087000
14787  2025-07-04  45577000    24387000  264475000  220020000  557087000
14788  2025-07-05  45600000    24366000  263112000  219195000  553895000
14789  2025-07-05  45600000    24366000  264734000  219195000  553895000
14790  2025-07-06  45600000    24326000  261860000  218370000  552771000
14791  2025-07-06  45600000    24326000  264475000  218370000  552771000
14792  2025-07-07  45624000    24366000  260611000  217710000  550812000
14793  2025-07-07  45624000    24366000  263112000  217710000  550812000
14794  2025-07-08  45624000    24407000  261860000  216885000  548776000
14795  2025-07-08  45624000    24407000  259055000  216885000  548776000
14796  2025-07-09  45647000    24448000  260611000  216225000  546931000
14797  2025-07-10  45647000    24468000  259055000  215400000  544570000

In [6]:
# We save the dataset in a .csv file
# df3.to_csv('apothemata_nerou.csv',index=False)